*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*.....Start Projects Section.....*/
#projects{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 60px 0;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}
/*.....End Projects Section.....*/